# 🔹 ENVIRONNEMENT PYTHON
venv/
.venv/
ENV/
env/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class
*.so
.Python

# 🔹 FICHIERS DE LOGS
*.log
logs/
*.out

# 🔹 FICHIERS TEMPORAIRES
*.tmp
*.swp
*.bak
*.~*

# 🔹 FICHIERS DE CONFIG & ENV
.env
.env.*
.env.local

# 🔹 FICHIERS COMPILÉS (ex: Cython)
*.c
*.so
*.pyd

# 🔹 DONNÉES
*.db
*.sqlite
*.sqlite3
*.xlsx
*.pdf
data/
outputs/
__results__/
*.sql.gz
data/db/

# 🔹 CACHE & OUTILS DE DEV
.ipynb_checkpoints/
.mypy_cache/
pytest_cache/
.tox/
coverage.*
htmlcov/

# 🔹 ÉDITEURS / IDEs
.idea/
.vscode/
*.code-workspace

# 🔹 PACKAGING
build/
dist/
*.egg-info/
.eggs/
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.installed.cfg
*.egg

# 🔹 REPERTOIRES SPECIFIQUES À TON PROJET
scripts/__pycache__/
app/__pycache__/
tests/__pycache__/

# 🔹 BASE DE DONNÉES
*.db
*.sqlite3
data/db/

# 🔹 DOSSIERS DE BACKUP ET VALIDATION
test_manuel/
validate/

# 🔹 Système d'exploitation
.DS_Store
Thumbs.db

